@import './reset';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

:root {
	--main-color: rgb(218, 194, 150);
	--secondary-color: rgb(161, 161, 161);
	--transiton-hover: 0.2s all ease-in-out;
}

