.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--main-color);
    cursor: pointer;
   
    h3{
        padding-right: 5px;
        color: var(--main-color);
        border-right: 1px solid var(--secondary-color);
        transition:var(--transiton-hover);
        &:hover{
            text-decoration: underline;
        }
    }
    .block, .time {
        display: flex;
        gap: 5px;
        .subtitle{
            color: var(--secondary-color);
        }
    }
    .time{
        > p{
            font-size: 13px;
            color: var(--secondary-color);
        }
    }
}